doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Daniel Yates's starter template
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/application.css')

    body
        p The template serves as a pre-built setup for assisting with rapid development or prototyping. It's built on Jade, SCSS, JS. Gulp task manager will: compile Jade, SCSS and JS into single compressed files. Also features browser sync which is perfect for simultaneous mobile and desktop development.

        script(src="js/main.js")